# Dependency directories
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Production environment variables
.env
.env.local
.env.production
.env.production.local

# Next.js specific files
.cache/
.vercel/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
